extends layout

block about
  <!-- Begin Wrapper -->
  div(id='wrapper')
  <!-- Begin Left Column -->
    div(id='leftcolumn')
      Left Column
  <!-- End Left Column -->
  <!-- Begin Right Column -->
    div(id='rightcolumn')
      Right Column
  <!-- End Right Column -->