extends layout

block content
  div( id="wrapper")
    div( id="leftcolumn")
      p This website is made by Shihpei, Maria, Thomas, and Ruth.
      p We worked pretty hard on it.
      p We hope you like it.
      br
      br
      br
      p Welcome to i_love_movies!
