extends layout

block content
  div( id="wrapper")
    div( id="leftcolumn")
      h2 #{title}
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit
      p nulla eu fermentum commodo. Morbi finibus interdum elit sit amet porttitor.
      p Ut faucibus ac dolor et laoreet. Sed iaculis interdum odio sed varius. Etiam quam
      p odio, porta sed augue lobortis, gravida hendrerit risus. Vestibulum faucibus
      p sagittis mi eget efficitur. Praesent porta orci a egestas tristique. Praesent
      p gravida sapien eros, sit amet scelerisque diam placerat eget. Nullam posuere
      p nunc mauris, id porttitor nulla dapibus sed. Donec pulvinar est nec lorem
      p sollicitudin, non feugiat justo tempor. Aliquam vehicula lacus nec sapien fermentum
      p maximus. In mi justo, posuere eget facilisis sollicitudin, gravida at mi. Aenean ac
      p ultricies ipsum, sit amet tincidunt metus. Sed rutrum suscipit tempus.
