footer
	ul
		li
			p Copyright &copy; 2019
		li
			p Some Rights Reserved
		li
			a(href='/') home
		li
			a(href='./about') about
		li
			a(href='./movies') my_movies
		li
			a(href='./friends') friends
		li
			a(href='./blog') blog
		li
			a(href='./contact') contact