footer
	ul
		li
			p Copyright &copy; 2019
		li
			p Some Rights Reserved
		li
			a(href="index.js") home
		li
			a(href="about.js") about
		li
			a(href="movie.js") movies
		li
			a(href="friends.js") friends
		li
			a(href="blog.js") blog
		li
			a(href="contact.js") contact
