extends layout

block content

  html
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            $(document).ready(function(){
            $.getJSON("http://localhost:3000/friends/api/all", (result)=>{
            $.each(result, (i, field) => {
            var title = "<div class='film'><h3 film_id="
            +field.userName
            +" style='cursor: pointer'>"+field.Email+"</h3>"
            +"<div class='info' hidden='true'>" + field.FavoriteMovie
            +"<br />Rating: "
            + field.FavoriteGenre
            +"<br />Release Year: "
            + field.FavoriteGenre
            + "</div></div>";
            $("#list").append(title);
            });
            $('.film').on('click', function(){
            if ($(this).children('.info').is(':hidden')){
            $('.info').hide();
            $(this).children('.info').show();
            } else {
            $(this).children('.info').hide();
            }
            });
            });
            });
  body
    h1  Sakila Films 
  div( id="wrapper")
    div( id="leftcolumn")
      #list
      div( id="myUsers")
        
        h2 Harry Potter
        img(src='images/harry.jpeg')

        h2 Ron Weasley
        img(src='images/ron.png')

        h2 Hermione Granger
        img(src='images/hermione.png')

        h2 Luna Lovejoy
        img(src='images/luna.png')

        h2 Draco Malfoy
        img(src='images/draco.png')

        h2 Ginny Weasley
        img(src='images/ginny.png')