header
      form(action='formhandler.php' method='get')
        input(type='text' placeholder='Search...' name='search')

      nav
        ul
          li
            a(href='/')
              h1 i_love_movies
          li
            a(href='/') home
          li
            a(href='./movies') movies
          li
            a(href='./users') users
          li
            a(href='./user-profile') my_profile
