header
      form(action='formhandler.php' method='get')
        input(type='text' placeholder='Search Movies...' name='search')
      form
      h1 i_love_movies
      
      nav
        ul
          li
            a(href='/') home
          li
            a(href='./about') about
          li
            a(href='./movie') movies
          li
            a(href='./friends') friends
          li
            a(href='./blog') blog
          li
            a(href='./contact') contact