extends layout

block content
  div( id="wrapper")
    div( id="leftcolumn")
      p Left Column
    div( id="rightcolumn")
      p Right Column
    
    div( id="boxes")  
      div(class='leftbox')
        h2 Staff Picks!
        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  
      div(class='middlebox')
        h2 Staff Picks!
        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
      div(class='rightbox')
        h2 Staff Picks!
        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    