extends layout

block content
  <!-- Begin Wrapper -->
  div(id='wrapper')
  <!-- Begin Left Column -->
    div(id='leftcolumn')
      Left Column
  <!-- End Left Column -->
  <!-- Begin Right Column -->
    div(id='rightcolumn')
      Right Column
  <!-- End Right Column -->
  <!-- Begin boxes -->
  div(id='boxes')
    div(class='leftbox')
      h2 Staff Picks!
      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  <!-- end left box -->
    div(class='middlebox')
      h2 Staff Picks!
      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  <!-- end middle box -->
    div(class='rightbox')
      h2 Staff Picks!
      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  <!-- end right box -->
  <!-- end boxes -->