doctype html
html
  head
    title=title

    <!--Remy Sharp Shim -->
    <!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript" >
    </script>
    <![endif]-->

    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
    meta(name='google' content='notranslate')
    
  include header
  body
    block content
    include footer
