extends layout
block content
    html
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            $(document).ready(function(){
            $.getJSON("http://localhost:3000/movies/api/all", (result)=>{
            $.each(result, (i, field) => {
            var title = "<div class='film'><h3 film_id="
            +field.MovieID
            +" style='cursor: pointer'>"+field.Title+"</h3>"
            +"<div class='info' hidden='true'>" + field.Genre
            +"<br />Rating: "
            + field.Rating
            +"<br />Release Year: "
            + field.ReleaseDate
            + "</div></div>";
            $("#list").append(title);
            });
            $('.film').on('click', function(){
            if ($(this).children('.info').is(':hidden')){
            $('.info').hide();
            $(this).children('.info').show();
            } else {
            $(this).children('.info').hide();
            }
            });
            });
            });
    body
    div( id="wrapper")
    div( id="leftcolumn")
        h1 #{title}
        #list

    div( id="myDIV")
     img(src='images/ace_ventura.jpg')
     h2 Ace Ventura
     p A goofy detective specializing in animals goes in search of the missing mascot of the Miami Dolphins.
     img(src='images/big_daddy.jpg')
     h2 Big Daddy
     p A lazy law school grad adopts a kid to impress his girlfriend, but everything doesn&apos;t go as planned and he becomes the unlikely foster father.
     img(src='images/elf.jpg')
     h2 Elf
     p After discovering he is a human, a man raised as an elf at the North Pole decides to travel to New York City to locate his real father.
     img(src='images/glass.jpg')
     h2 Glass
     p Security guard David Dunn uses his supernatural abilities to track Kevin Wendell Crumb, a disturbed man who has twenty-four personalities.
     img(src='images/happy_gilmore.jpg')
     h2 Happy Gilmore
     p A rejected hockey player puts his skills to the golf course to save his grandmother's house.
     img(src='images/inception.jpg')
     h2 Inception
     p A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO.
     img(src='images/lego_movie.jpg')
     h2 Lego Movie
     p An ordinary LEGO construction worker, thought to be the prophesied as "special", is recruited to join a quest to stop an evil tyrant from gluing the LEGO universe into eternal stasis.
     img(src='images/matrix.jpg')
     h2 Matrix
     p A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.
     img(src='images/murder_by_numbers.jpg')
     h2 Murder by Numbers
     p Two gifted high school students execute a "perfect" murder - then become engaged in an intellectual contest with a seasoned homicide detective.
     img(src='images/requiem_for_a_dream.jpg')
     h2 Requiem for a Dream
     p The drug-induced utopias of four Coney Island people are shattered when their addictions run deep.
     img(src='images/truman.jpg')
     h2 Truman
     p An insurance salesman discovers his whole life is actually a reality TV show.
     img(src='images/50_first_dates.jpg')
     h2 50 First Dates
     p Henry Roth is a man afraid of commitment up until he meets the beautiful Lucy. They hit it off and Henry think he&apos;s finally found the girl of his dreams, until he discovers she has short-term memory loss and forgets him the next day.