extends layout

block content

    #wrapper
    
      #myDIV
        .left-box
          a(href='https://www.pottermore.com/explore-the-story/harry-potter')
            h2 Harry Potter
            img#img0(src='images/harry.jpeg', alt='')
            
        .middle-box
          a(href='https://www.pottermore.com/explore-the-story/ron-weasley')
            h2 Ron Weasley
            img#img1(src='images/ron.png', alt='')
            
        .right-box
          a(href='https://www.pottermore.com/explore-the-story/hermione-granger')
            h2 Hermione Granger
            img#img2(src='images/hermione.png', alt='')
            
        .last-box
          a(href='https://www.pottermore.com/explore-the-story/luna-lovegood')
            h2 Luna Lovegood
            img#img3(src='images/luna.png', alt='')
            
        .left-box
          a(href='https://www.pottermore.com/explore-the-story/draco-malfoy')
            h2 Draco Malfoy
            img#img4(src='images/draco.png', alt='')
            
        .middle-box
          a(href='https://www.pottermore.com/explore-the-story/ginny-weasley')
            h2 Ginny Weasley
            img#img5(src='images/ginny.png', alt='')