extends layout

block content

    #wrapper
    
      #myDIV
        .left-box
          a(href='https://en.wikipedia.org/wiki/Ace_Ventura')
            img#img0(src='images/ace_ventura.jpg', alt='')
            h2 ACE Ventura
        .middle-box
          a(href='https://en.wikipedia.org/wiki/Big_Daddy_(1999_film)')
            img#img1(src='images/big_daddy.jpg', alt='')
            h2 Big Daddy
        .right-box
          a(href='https://en.wikipedia.org/wiki/Elf_(film)')
            img#img2(src='images/elf.jpg', alt='')
            h2 Elf
        .last-box
          a(href='https://en.wikipedia.org/wiki/Glass_(2019_film)')
            img#img3(src='images/glass.jpg', alt='')
            h2 Glass
        .left-box
          a(href='https://en.wikipedia.org/wiki/Happy_Gilmore')
            img#img4(src='images/happy_gilmore.jpg', alt='')
            h2 Happy Gilmore
        .middle-box
          a(href='https://en.wikipedia.org/wiki/Inception')
            img#img5(src='images/inception.jpg', alt='')
            h2 Inception
        .right-box
          a(href='https://en.wikipedia.org/wiki/The_Lego_Movie')
            img#img6(src='images/lego_movie.jpg', alt='')
            h2 Lego Movie
        .last-box
          a(href='https://en.wikipedia.org/wiki/The_Matrix')
            img#img7(src='images/matrix.jpg', alt='')
            h2 Matrix
        .left-box
          a(href='https://en.wikipedia.org/wiki/Murder_by_Numbers')
            img#img8(src='images/murder_by_numbers.jpg', alt='')
            h2 Murder by Numbers
        .middle-box
          a(href='https://en.wikipedia.org/wiki/Requiem_for_a_Dream')
            img#img9(src='images/requiem_for_a_dream.jpg', alt='')
            h2 Requiem for a Dream
        .right-box
          a(href='https://en.wikipedia.org/wiki/The_Truman_Show')
            img#img10(src='images/truman.jpg', alt='')
            h2 The Truman Show
        .last-box
          a(href='https://en.wikipedia.org/wiki/50_First_Dates')
            img#img11(src='images/50_first_dates.jpg', alt='')
            h2 50 First Dates