extends layout

block content
    script(src='http://code.jquery.com/jquery-2.1.0.js')
    script(src='http://code.jquery.com/ui/1.1.4/jquery-ui.js')
    script(src='/javascripts/movieList.js')

    #wrapper

      #movieDIV

        h2 Ace Ventura
        img(src='images/ace_ventura.jpg', alt='')
        .message#0 
        p
                
        h2 Big Daddy
        img(src='images/big_daddy.jpg', alt='')
        .message#1 
        p

        h2 Elf
        img(src='images/elf.jpg', alt='')
        .message#2
        p

        h2 Glass
        img(src='images/glass.jpg', alt='')
        .message#3
        p

        h2 Happy Gilmore
        img(src='images/happy_gilmore.jpg', alt='')
        .message#4
        p

        h2 Inception
        img(src='images/inception.jpg', alt='')
        .message#5 
        p

        h2 The Lego Movie
        img(src='images/lego_movie.jpg', alt='')
        .message#6
        p

        h2 The Matrix
        img(src='images/matrix.jpg', alt='')
        .message#7
        p

        h2 Murder by Numbers
        img(src='images/murder_by_numbers.jpg', alt='')
        .message#8
        p

        h2 Requiem for a Dream
        img(src='images/requiem_for_a_dream.jpg', alt='')
        .message#9
        p

        h2 The Truman Show
        img(src='images/truman.jpg', alt='')
        .message#10
        p

        .last-box
        h2 50 First Dates
        img(src='images/50_first_dates.jpg', alt='')
        .message#11
        p