extends layout

block content
  div( id="wrapper")
    div( id="leftcolumn")
      div(id="profile")
        h1 my_profile

        img(src="/images/harry.jpeg")

        h2 Favorite Movie: Raiders of the Lost Arc
        h2 Favorite Genre: Action
        br
        br
        p Hello, my name is Harry Potter!
        br
        p I enjoy spending time with my friends, getting into mischief, practicing magic,
        p playing quidditch, and saving the world from evil. Sometimes, I wish my life
        p was simpler - and I had more time to sit back, relax, and enjoy chillin. But
        p when I do, I watch movies.
        br
        p Movies, butterbeer, and quidditch. That's me :)
