* {
  padding: 0;
  margin: 0;
}

body {
  font-family: century gothic, Helvetica, sans-serif;
  font-size: 13px;
  background: #f2f2f2;
  background-attachment: fixed;
}

h1{
margin-left: 10px;
margin-right:25px;
color: #F2F7F1;
font-size:26px;
}

h2{
margin-left: 150px;
background-color: #f2f2f2;
color: #242425;
font-family: Montserrat Light, Javanese Text, century gothic, Helvetica;

}

h3{
margin-left: 500px;
background-color: #f2f2f2;
color: #242425;
font-family: Javanese Text, century gothic, Helvetica;
line-height: 10px;
}

#quotebox {
  height: 50px;
  margin: 20px auto;
  padding:15px;
  background-color: #f2f2f2;
}

/************************WRAPPER***************************/

#wrapper {
  margin: 120px auto;
  width: 1000px;
  background: #f2f2f2;
}


#leftcolumn {
  float: left;
  border: 1px solid #ccc;
  margin: 30px 10px;
  padding: 10px;
  height: 350px;
  width: 650px;
}

#rightcolumn {
  float: right;
  border: 1px solid #ccc;
  margin: 30px 10px;
  padding: 10px;
  height: 350px;
  width: 200px;
}

#boxes {
  margin: 0;
  padding: 0;
}

.leftbox{
  float: left;
  width: 33.33%;
}

.middlebox{
  float: left;
  width: 33.33%;
}

.rightbox{
  float: left;
  width: 33.33%;
}

#boxes p {
  font-weight: normal;
  margin: 5px;
  padding: 0 10px 20px 20px;
  text-decoration: none;
}

/************************FOOTER***************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: gray;
  line-height: 50px;
  clear: both;
}

footer ul {
  padding-left: 20px;
}

footer li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  font-size: .875em;
  color: #EAFAF1;
}

footer a {
  color: #EAFAF1;
}

footer a:hover {
  color: black;
}

/*************************HEADER**************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #242425;
}

form {
  float: right;
  padding-right: 20px;
  height:70px;
}

input[type=text] {
  height: 25px;
  line-height: 25px;
  border-radius: 14px;
  width: 290px;
  padding-left: 10px;
  font-size: 14px;
  background-color:#F2F7F1;
}

::placeholder {
  color: lightgray;
  font-size: 14px;
}

nav {
  margin-top:10px;
  margin-left:10px;
  width: 550px;
  height: 45px;
  line-height: 45px;
  background: #242425;
}

nav li {
  margin-left:20px;
  float: left;
  list-style-type: none;
  text-align: center;
  font-family: 'Georgia', 'Verdana';
  font-size: 15px;
}

nav ul {
  margin-left: 20px;
  width: 900px;
}

nav a {
  text-decoration: none;
  display: block;
  color: #F2F7F1;
}

nav a:hover {
  color: black;
  background: #EAFAF1;
}
