* {
  padding: 0;
  margin: 0;
}

body {
  font-family: century gothic, Helvetica, sans-serif;
  font-size: 13px;
  background: #f2f2f2;
  background-attachment: fixed;
}

h1{
margin-left: 25px;
color: #EAFAF1;
}

/************************WRAPPER***************************/

#wrapper { 
  margin: 120px auto;
  width: 1000px;
  background: lightgray;
}


#leftcolumn { 
  float: left;
  border: 1px solid #ccc;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  height: 350px;
  width: 678px;
} 

#rightcolumn { 
  float: right;
  border: 1px solid #ccc;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  height: 350px;
  width: 200px;
}

#boxes {
  margin: 0;
  padding: 0; 
}

.leftbox{ 
  float: left;
  width: 33.33%;    
}

.middlebox{    
  float: left;
  width: 33.33%;  
}

.rightbox{    
  float: left;
  width: 33.33%;    
}

#boxes p {
  font-weight: normal;
  margin: 5px;
  padding: 0 10px 20px 20px;
  text-decoration: none;
}

/************************FOOTER***************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: gray;
  line-height: 50px;
  clear: both;
}

footer ul {
  padding-left: 20px;
}

footer li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  font-size: .875em;
  color: #EAFAF1;
}

footer a {
  color: #EAFAF1;
}

footer a:hover {
  color: black;
}

/*************************HEADER**************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #8c8c8c;
}

form {
  float: right;
  padding-right: 20px;
}

input[type=text] {
  height: 25px;
  line-height: 25px;
  border-radius: 14px;
  width: 290px;
  padding-left: 10px;
  font-size: 14px; 
}

::placeholder {
 
  color: lightgray;
  font-size: 14px;
}

nav {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background: #a6a6a6;
}

nav li {
  float: left;
  width: 14%;
  list-style-type: none;
  text-align: center;
  font-family: 'Georgia', 'Verdana';
  font-size: 17px;
}

nav ul {
  margin-left: 60px;
  width: 1000px;
}

nav a {
  text-decoration: none;
  display: block;
  color: #EAFAF1;
}

nav a:hover {
  color: black;
  background: #EAFAF1;
}
